<div class="profile-container" (click)="closeDialog()">
    <div class="user-pofile-dialog" (click)="doNotClose($event)">
        <div class="headline">
            <h2>Profil</h2>
            <div class="close" (click)="closeDialog()">
                <mat-icon>close</mat-icon>
            </div>
        </div>
        <div class="avatar">
            <img *ngIf="!directUserProfile?.avatar" src="{{ loggedInUser.avatar }}" alt="">
            <img *ngIf="directUserProfile?.avatar" src="{{ directUserProfile.avatar }}" alt="">
        </div>
        <div class="name">
            <span *ngIf="!directUserProfile?.name">{{ loggedInUser.name }}</span>
            <span *ngIf="directUserProfile?.name">{{ directUserProfile.name }}</span>
            <mat-icon *ngIf="!directUserProfile?.name" (click)="editUserProfile()" class="edit">edit</mat-icon>
            <span *ngIf="!directUserProfile?.name" (click)="editUserProfile()" class="edit-desktop">Bearbeiten</span>
        </div>
        <div class="status">
            <img *ngIf="!directUserProfile?.name" src="{{ loggedInUserStatus }}">
            <img *ngIf="directUserProfile?.name" src="{{ directUserProfileStatus }}">
        </div>
        <div class="email">
            <mat-icon>mail</mat-icon>
            <div class="email-adresse">
                <span class="titel">E-Mail-Adresse</span>
                <span class="adresse" *ngIf="!directUserProfile?.email">{{ loggedInUser.email }}</span>
                <span class="adresse" *ngIf="directUserProfile?.email">{{ directUserProfile.email }}</span>
            </div>
        </div>
        <div class="message-btn" *ngIf="directUserProfile?.name">
            <button (click)="closeDialog()"><mat-icon>mode_comment</mat-icon> Nachricht</button>
        </div>
    </div>
</div>

<div *ngIf="editProfileOpen" class="profile-container" (click)="closeDialog()">
    <div class="edit-user-pofile-dialog" (click)="doNotClose($event)">
        <div class="headline">
            <h2>Dein Profil bearbeiten</h2>
            <div class="close" (click)="closeDialog()">
                <mat-icon>close</mat-icon>
            </div>
        </div>
        <div class="avatar">
            <img src="{{ this.loggedInUser.avatar }}" alt="">
        </div>
        <div class="edit-name">
            <div>
                <mat-icon class="edit">account_circle</mat-icon>
                <span>Vollständiger Name</span>
            </div>
            <input [(ngModel)]="updateUserName" type="text" placeholder="{{ this.loggedInUser.name }}">
        </div>
        <div class="edit-email">
            <div>
                <mat-icon class="edit">mail</mat-icon>
                <span class="titel">E-Mail-Adresse</span>
            </div>
            <input [(ngModel)]="updateUserEmail" type="text" placeholder="{{ this.loggedInUser.email }}">
        </div>
        <div class="send-email-container" >
            <div class="verify-mail" *ngIf="userProfileService.isEmailSend" >
                Verifizierungs-E-Mail wurde gesendet. Bitte überprüfe deine neue E-Mail-Adresse und bestätige diese.
            </div>
            <div class="error-mail" *ngIf="userProfileService.isEmailError" >
                Verifizierungs-E-Mail wurde nicht gesendet. Bitte melde dich erneut an.
            </div>
        </div>
        <div class="edit-btn">
            <div class="secondary-btn" (click)="closeDialog()">Abbrechen</div>
            <div class="primary-btn" (click)="updateCurrentUser()">Speichern</div>
        </div>
    </div>
</div>

