<div class="desktop-chat-container" (click)="chatService.closeDialog()">
  <div class="desktop-chat-header-container">
    <div class="desktop-chat-header-headline">
      <p>#</p>
      <p>{{ chatService.dataChannel.name }}</p>
      <mat-icon (click)="channelService.openEditDialog()"
        >keyboard_arrow_down</mat-icon
      >
    </div>
    <div>
      <div
        class="desktop-chat-header-icon"
        (click)="
          this.chatService.doNotClose($event); chatService.openDialogAddUser()
        "
      >
        <mat-icon>person_add</mat-icon>
      </div>
    </div>
  </div>
  <div
    (click)="chatService.closeIconContainer()"
    #scrollContainer
    class="desktop-chat-content"
  >
    <div
      *ngFor="
        let singleMessage of chatService.dataChannel.messageChannel;
        let singleMessageIndex = index
      "
      (mouseenter)="chatService.onMouseLeave()"
    >
      <div
        class="desktop-chat-message-date-container"
        (mouseenter)="chatService.onMouseLeave()"
        [ngClass]="{
          'desktop-chat-message-container-from-others-hover':
          chatService.hoveredMessageIndex === singleMessageIndex,
     }"
      >
        <div class="desktop-chat-message-line"></div>
        <span class="desktop-chat-message-date">{{
          chatService.setDate(singleMessage.date)
        }}</span>
        <div class="desktop-chat-message-line"></div>
      </div>
      <div
        class="desktop-chat-edit-message-container"
        *ngIf="chatService.activeMessageIndex === singleMessageIndex"
        [ngClass]="{
          'desktop-chat-edit-message-container-right':
            chatService.ifMessageFromMe(singleMessage.userId),
          'desktop-chat-edit-message-container-left':
            !chatService.ifMessageFromMe(singleMessage.userId),
        }"
      >
        <div
          class="desktop-chat-edit-icon-container"
          (click)="this.emojiService.addReactionToMessage('✅')"
        >
          <img src="./../../../../assets/icons/good-mark.svg" alt="good-mark" />
        </div>
        <div
          class="desktop-chat-edit-icon-container"
          (click)="this.emojiService.addReactionToMessage('🙌')"
        >
          <img src="./../../../../assets/icons/hands_up.svg" alt="hands_up" />
        </div>
        <div
          class="desktop-chat-edit-icon-container"
          (click)="
            chatService.onButtonClick($event);
            chatService.openDialogEmojiReactionMessage(singleMessageIndex)
          "
        >
          <mat-icon>add_reaction</mat-icon>
        </div>
        <div
          (mouseenter)="chatService.onMouseLeave()"
          class="desktop-chat-edit-icon-container"
          (click)="
            this.directMessageService.openDirectMessage(singleMessage.userId)
          "
        >
          <mat-icon>comment</mat-icon>
        </div>
        <div
          class="desktop-chat-edit-icon-container"
          (mouseenter)="chatService.onMouseEnter(singleMessageIndex)"
          [ngClass]="{
            'desktop-chat-edit-icon-left': !chatService.ifMessageFromMe(
              singleMessage.userId
            )
          }"
        >
          <mat-icon>more_vert</mat-icon>
        </div>
      </div>
      <div
        (mouseenter)="chatService.onMouseEnter(singleMessageIndex)"
        (mouseleave)="chatService.onMouseLeave()"
        class="desktop-chat-edit-button-container"
        *ngIf="chatService.hoveredMessageIndex === singleMessageIndex"
      >
        <span
          (click)="
            chatService.toggleEditMessageContainer(
              singleMessageIndex,
              $event,
              singleMessage.message
            )
          "
          class="desktop-chat-edit-button"
          >Nachricht bearbeiten</span
        >
      </div>

      <div
        (mouseenter)="chatService.onMouseLeave()"
        [ngClass]="{
          'desktop-chat-message-container-from-me': chatService.ifMessageFromMe(
            singleMessage.userId
          ),
          'desktop-chat-message-container-from-others':
            !chatService.ifMessageFromMe(singleMessage.userId),
            'desktop-chat-message-container-clicked':
             chatService.activeMessageIndex === singleMessageIndex,
        }"
      >
        <div
          (click)="
            this.chatService.doNotClose($event);
            directMessageService.openProfil(singleMessage.userId)
          "
          (mouseenter)="chatService.onMouseLeave()"
          class="desktop-chat-message-avatar-container"
        >
          <img
            (click)="chatService.closeIconContainer()"
            src="{{ singleMessage.userAvatar }}"
            alt=""
          />
        </div>
        <div
          class="desktop-chat-message-content"
          (click)="chatService.closeIconContainer()"
        >
          <div
            (click)="chatService.closeIconContainer()"
            [ngClass]="{
              'desktop-chat-message-name-date-container-me':
                chatService.ifMessageFromMe(singleMessage.userId),
              'desktop-chat-message-name-date-container-from-others':
                !chatService.ifMessageFromMe(singleMessage.userId)
            }"
          >
            <span
              (click)="
                directMessageService.openProfil(singleMessage.userId);
                chatService.closeIconContainer()
              "
              class="desktop-chat-message-name"
            >
              {{ singleMessage.userName }}
            </span>
            <div>
              <span class="desktop-chat-message-time">
                {{ chatService.setTime(singleMessage.date) }} Uhr
              </span>
            </div>
          </div>
          <div
            (click)="
              chatService.toggleIconContainer(singleMessageIndex, $event)
            "
            class="desktop-chat-message-text-container"
            [ngClass]="{
              'desktop-chat-message-from-me': chatService.ifMessageFromMe(
                singleMessage.userId
              ),
              'desktop-chat-message-from-others': !chatService.ifMessageFromMe(
                singleMessage.userId
              ),
              'desktop-chat-message-clicked':
              chatService.activeMessageIndex === singleMessageIndex,
            }"
          >
            <span
              *ngIf="chatService.editMessageInputIndex !== singleMessageIndex"
            >
              {{ singleMessage.message }}
            </span>
            <div *ngIf="chatService.editMessageIndex === singleMessageIndex">
              <textarea
                [(ngModel)]="chatService.editText"
                name="newTextarea"
                (input)="chatService.adjustHeight($event.target)"
                style="min-height: 50px; width: 100%"
                class="desktop-chat-message-edit-textarea"
              ></textarea>
              <div class="desktop-chat-input-field-icon-container">
                <div class="desktop-chat-edit-message-icon-container">
                  <div class="desktop-chat-edit-message-icon">
                    <div class="desktop-chat-input-icon">
                      <mat-icon
                        (click)="
                          chatService.onButtonClick($event);
                          chatService.openDialogEmoji()
                        "
                        >sentiment_satisfied</mat-icon
                      >
                    </div>
                    <div class="desktop-chat-input-icon">
                      <mat-icon
                        (click)="
                          chatService.onButtonClick($event);
                          chatService.openDialogMentionUser()
                        "
                        >alternate_email</mat-icon
                      >
                    </div>
                  </div>
                  <div>
                    <div>
                      <div class="desktop-chat-edit-message-save-container">
                        <p (click)="chatService.closeWithoutSaving()">
                          Abbrechen
                        </p>
                        <p
                          (click)="
                            chatService.editMessageFromChannel(
                              this.parmsId,
                              this.chatService.editText,
                              singleMessageIndex
                            )
                          "
                        >
                          Speichern
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            [ngClass]="{
              'desktop-chat-message-reaction-right-container':
                chatService.ifMessageFromMe(singleMessage.userId),
              'desktop-chat-message-reaction-left-container':
                !chatService.ifMessageFromMe(singleMessage.userId)
            }"
          >
            <div
              class="desktop-chat-message-reaction-content"
              *ngFor="
                let emojie of chatService.dataChannel.messageChannel[
                  singleMessageIndex
                ].emojiReaction;
                let emojiIndex = index
              "
              [ngClass]="{
                'd-none': emojie.user.length === 0
              }"
              (click)="
                this.emojiService.addAdditionalReactionToMessage(
                  emojie.emoji,
                  singleMessageIndex,
                  emojiIndex
                )
              "
            >
              {{ emojie.emoji }}
              {{ emojie.user.length }}
            </div>
            <div class="desktop-chat-message-reaction-icon">
              <mat-icon
                *ngIf="chatService.editMessageInputIndex !== singleMessageIndex"
                (click)="
                  chatService.onButtonClick($event);
                  chatService.openDialogEmojiReactionMessage(singleMessageIndex)
                "
                >add_reaction</mat-icon
              >
            </div>
          </div>
          <div>
            <div>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="desktop-chat-input-container" id="meinTextarea">
    <form class="desktop-chat-input-field-container br-20">
      <textarea
        [(ngModel)]="chatService.text"
        name="textarea"
        (input)="chatService.adjustHeight($event.target)"
        style="min-height: 50px; width: 100%"
        [placeholder]="'Antworten...'"
      ></textarea>

      <div class="desktop-chat-input-field-icon-container">
        <div class="desktop-chat-input-icon-container">
          <div class="desktop-chat-border-right">
            <div class="desktop-chat-input-icon">
              <mat-icon>add</mat-icon>
            </div>
          </div>
          <div class="desktop-chat-input-icon">
            <mat-icon
              (click)="
                chatService.onButtonClick($event); chatService.openDialogEmoji()
              "
              >sentiment_satisfied</mat-icon
            >
          </div>
          <div class="desktop-chat-input-icon">
            <mat-icon
              (click)="
                chatService.onButtonClick($event);
                chatService.openDialogMentionUser()
              "
              >alternate_email</mat-icon
            >
          </div>
        </div>
        <div>
          <div>
            <mat-icon
              (click)="
                chatService.sendMessageFromChannel(
                  this.parmsId,
                  this.chatService.text
                )
              "
              class="desktop-chat-send-icon"
              >send</mat-icon
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
