<div class="mobile-chat-container">
  <div class="mobile-chat-header-container">
    <div class="mobile-chat-header-headline">
      <p>#</p>
      <p>Entwicklerteam</p>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div>
      <div class="mobile-chat-header-icon"><mat-icon>person_add</mat-icon></div>
    </div>
  </div>
  <div class="mobile-chat-content"></div>

  <div class="mobile-chat-input-container" id="meinTextarea">
    <form class="mobile-chat-input-field-container br-20">
      <textarea
        [(ngModel)]="text"
        (input)="adjustHeight($event.target)"
        style="min-height: 50px; width: 100%"
        [placeholder]="'Antworten...'"
      >{{ dialogEmoji }}</textarea>

      <div class="mobile-chat-input-field-icon-container">
        <div class="mobile-chat-input-icon-container">
          <div class="mobile-chat-border-right">
            <div class="mobile-chat-input-icon">
              <mat-icon>add</mat-icon>
            </div>
          </div>
          <div class="mobile-chat-input-icon">
            <mat-icon (click)="openDialog()">sentiment_satisfied</mat-icon>

            
          </div>
          <div class="mobile-chat-input-icon">
            <mat-icon>alternate_email</mat-icon>
          </div>
        </div>
        <div>
          <div>
            <mat-icon class="mobile-chat-send-icon">send</mat-icon>
          </div>
        </div>
      </div>
    </form>

    <div></div>
  </div>
</div>
