@import "./../../../../styles.scss";
@import "@ctrl/ngx-emoji-mart/picker";

@font-face {
  font-family: "TwemojiMozilla";
  src: local("TwemojiMozilla"),
    url("../../../../assets/fonts/Twemoji.Mozilla.ttf") format("truetype");
}

.mobile-chat-container {
  height: calc(100vh - 80px);
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $background-white;
}

.mobile-chat-header-container {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mobile-chat-header-headline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: 16px;
  cursor: pointer;
  p {
    font-size: 20px;
    font-weight: 700;
  }
}

.mobile-chat-header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 16px;
  background-color: $background-lightblue;
  cursor: pointer;
  mat-icon {
    &:hover {
      color: $background-purple;
    }
  }
}

.mobile-chat-content {
  width: calc(100vw - 32px);
  max-height: calc(100vh - 285px);
  height: 100%;
}

.mobile-chat-input-container {
  min-height: 145px;
  width: calc(100vw - 32px);
  margin-bottom: 16px;
}

.mobile-chat-input-field-container {
  width: 100%;
  min-height: 145px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid $border-gray;
  textarea {
    all: unset;
    min-width: 90%;
    max-width: 90%;
    min-height: 80px;
    font-size: 18px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    background-position: right 24px top 16px;
    word-wrap: break-word;
    font-family: Arial, "TwemojiMozilla";
  }
}

.mention-user-text-background {
  background-color: $icon-purple-hover !important;
  color: $background-white !important;
 }

.mobile-chat-input-field-icon-container {
  height: 65px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.mobile-chat-input-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.mobile-chat-input-icon {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  &:hover {
    background-color: $background-lightblue;
  }
  mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    color: $icon-gray;
    border-radius: 100%;
    &:hover {
      color: $icon-purple-hover;
    }
  }
}

.mobile-chat-border-right {
  height: 40px;
  width: 45px;
  border-right: 1px solid $border-gray;
}

.mobile-chat-send-icon {
  color: $icon-blue;
  cursor: pointer;
  &:hover {
    color: $background-purple;
  }
}

