<div class="card">
    <form class="form-container">
        <div class="arrow-back-container">
            <mat-icon routerLink='/reset-password' class="arrow-back-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back"></mat-icon>
            <h1>Passwort zurücksetzen</h1>
        </div>
        <div class="input-fields">
            <input type="password" placeholder="Neues Passwort">
            <input type="password" placeholder="Neues Passwort bestätigen">
        </div>

        <div class="flexend-btn-container">
            <button (click)="changePassword()" class="primary-btn">Passwort ändern</button>
        </div>

    </form>
</div>


