<div class="card">
    <form class="form-container">
        <h1>Konto erstellen</h1>
        <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>
        <div class="input-fields">
            <input type="text" placeholder="Name und Nachname">
            <input class="email-input" type="email" placeholder="beispielname@email.com">
            <input type="password" placeholder="Passwort">

        </div>

        <div class="btn-container">
            <button class="primary-btn">Anmelden</button>
        </div>

    </form>
</div>
