@import "./../../../../styles.scss";

header {
    background-color: $background-lightblue;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 16px;
    box-sizing: border-box;


    >.logo {
        height: 45px;
    }

    >.user {
        height: 50px;
    }

    >mat-icon {
        height: 40px;
    }
}