@import "./../../../../styles.scss";

.dialog-mention-users-container {
  overflow-y: scroll !important;
  padding-left: 16px;
  max-height: calc(100vh - 250px);
  gap: 8px;
  h2 {
    font-size: 24px;
    font-size: 700;
  }
}

.dialog-mention-users-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
  padding-bottom: 16px;   
  gap: 8px;
  height: 58px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    gap: 8px;
    min-width: 140px;
    cursor: pointer;
    img {
      height: 50px;
      width: 50px;
    }
    &:hover {
      background-color: $background-purple;
    }
  }
}

.dialog-mention-icon-add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 16px;
  background-color: $background-lightblue;
  margin-left: 8px;
  cursor: pointer;
  mat-icon {
    &:hover {
      color: $background-purple;
    }
  }
}
