.main-desktop {
    display: flex;
    margin-top: 10px;
    max-height: 100vh;
    width: 100%;
    padding: 0 25px;
    box-sizing: border-box;
  }
  
  app-desktop-channels { /* Der Container mit fester Breite */
    width: 366px;
  }
  
  app-desktop-chat { /* Der Container, der den restlichen Platz einnimmt */
    flex-grow: 1; /* Nimmt den gesamten verfügbaren Platz ein */
    margin-left: 25px;
  }
  
//   /* Wenn app-desktop-thread angezeigt wird, sollte er wahrscheinlich unter app-desktop-chat platziert werden */
//   app-desktop-thread {
//     width: 100%; /* Nimmt die volle Breite ein, wenn sichtbar */
//   }