<div class="desktop">
    <app-desktop-header></app-desktop-header>
    <div class="main-desktop">
        <div class="hide-server-sidebar" (click)="closeOpenWorkspace()">
            <span> {{ closeMenuText }}</span>
            <mat-icon>{{ closeMenu }}</mat-icon>
        </div>
        <app-desktop-channels *ngIf="isWorkspaceOpen"></app-desktop-channels>
        <app-desktop-chat *ngIf="directMessage.desktopChatOpen"></app-desktop-chat>
        <app-desktop-direct-chat *ngIf="directMessage.directChatOpen"></app-desktop-direct-chat>
        <app-desktop-thread *ngIf="isThreadOpen"></app-desktop-thread>
    </div>
</div>

<div class="mobile">
    <app-mobile-header></app-mobile-header>
    <app-mobile-channels *ngIf="!chatService.mobileChatIsOpen"></app-mobile-channels>
    <app-mobile-chat *ngIf="chatService.mobileChatIsOpen"></app-mobile-chat>
</div>