@import './../../../login/login/login.component.scss';
@import './../../../../styles.scss';
@import './../../shared/login-card/login-card.component.scss';

.desktop-login-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 75px);
}

.desktop-login-header {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
    padding-left: 75px;
    padding-right: 75px;
}

.desktop-login-card-container {
    display: flex;
    justify-content: center;
}

.login-card {
    padding: 50px 60px;
}

.impress-policy {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   gap: 30px;
}