<div class="add-channel-dialog">
    <div class="headline">
        <h2>Channel erstellen</h2>
        <mat-icon>close</mat-icon>
    </div>

    <span>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themnenbezogen sein #marketing zum Beispiel.</span>

    <div class="input-container">
        <h3>Channel-Name</h3>
        <input type="text" placeholder="#  z.B. Kooperationsprojekte">
    </div>

    <div class="input-container">
        <h3>Beschreibung <span>(optional)</span></h3>
        <input type="text" placeholder="Dein Text hier">
    </div>
    <div class="create-btn">
        <button>Erstellen</button>
    </div>
</div>