<div class="desktop-login-container">
    <div class="desktop-login-header">
        <img src="./../../../assets/img/logo-name.svg" alt="DABubble Logo">
        <div class="register-container">
            Neu bei DABubble?
            <a href="#">Konto erstellen</a>
        </div>
    </div>

    <div class="desktop-login-card-container">

        <div class="login-card">
            <form class="form-container">
                <h1>Konto erstellen</h1>
                <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>
                <div class="input-fields">
                    <input class="email-input" type="text" placeholder="Name und Nachname">
                    <input class="email-input" type="email" placeholder="beispielname@email.com">
                    <input type="password" placeholder="Passwort">
                </div>
    
                <div class="btn-container">
                    <button class="primary-btn">Anmelden</button>
                    <button class="secondary-btn">Gäste-Login</button>
                </div>
    
            </form>
        </div>

    </div>

</div>

<div class="impress-policy">
    <a href="#">Datenschutz</a>
    <a href="#">Impressum</a>
</div>

