<header>
    <img class="logo" src="./assets/img/logo-name.svg" alt="DaBubble logo">
    <div class="input-container">
        <input type="search" placeholder="Code learning durchsuchen">
        <mat-icon>search</mat-icon>
    </div>
    <div class="user-container">
        <span>{{ currentUser.name }}</span>
        <div class="user-img">
            <img class="user-avatar" src="{{ currentUser.avatar }}">
            <img class="user-status" src="./assets/img/online-icon-desktop.svg" >
        </div>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
</header>