@import "./../../../../styles.scss";

header {
    background-color: $background-lightblue;
    height: 80px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding: 15px 16px 15px 16px;

    >.logo {
        height: 70px;
    }

    >.input-container {
        width: 989px;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        >input {
            font-size: 24px;
            height: 70px;
            width: 100%;
            border: none;
            border-radius: 50px;
            padding: 17.5px 45px 17.5px 45px;
        }

        >.mat-icon {
            position: absolute;
            padding-right: 30px;
            width: 35px;
            height: 35px;
            font-size: 35px;
            color: $background-gray;
        }
    }

    >.user-container {
        display: flex;
        align-items: center;
        gap: 20px;

        >span {
            font-weight: 700;
            font-size: 32px;
        }

        >.mat-icon {
            cursor: pointer;
            width: 30px;
            height: 30px;
            font-size: 30px;
        }
    }

    >.user {
        height: 50px;
    }
}