<div class="dialog-add-users-container">
  <div *ngIf="!this.addUserClicked">
    <h2>Mitglieder</h2>
    <div class="close" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </div>
    <div
      class="dialog-add-users-content"
      *ngFor="let user of chatService.dataChannel.channelUsers; let i = index"
    >
      <div>
        <img [src]="user.avatar" />
        <p>{{ user.name }}</p>
      </div>
    </div>
    <div class="dialog-add-users">
      <div (click)="openSearchUser()" class="dialog-add-icon-add">
        <mat-icon>person_add</mat-icon>
      </div>
      <p>Mitglieder hinzufüngen</p>
    </div>
  </div>

  <div *ngIf="this.addUserClicked">
    <div class="dialog-add-users-container">
      <h2>Leute hinzufügen</h2>
      <div class="close" (click)="closePeopleSearch()">
        <mat-icon>close</mat-icon>
      </div>
      <div
        class="dialog-add-users-input-container"
        [style.min-height]="this.textareaHeight + 'px !important'"
      >
        <div
          class="push-addet-user-container"
          *ngFor="let userAddet of addetUser; let indexAddUser = index"
        >
          <img [src]="userAddet.avatar" />
          <p>{{ userAddet.name }}</p>
          <mat-icon
            class="dialog-add-users-close-icon"
            (click)="removeAddUser(userAddet, indexAddUser)"
            >close</mat-icon
          >
        </div>
        <textarea
          [(ngModel)]="content"
          [class.placeholder]="isEmpty"
          [innerHTML]="content"
          name="textarea"
          (input)="updateContent()"
          class="push-addet-user-textarea"
        ></textarea>
      </div>
      <div class="dialog-add-users-button-container">
        <span
          (click)="pushNewUserToChannel()"
          class="dialog-add-users-button"
          [ngClass]="{
          'dialog-add-users-button-not-available':
            this.addetUser.length === 0,
            'dialog-add-users-button-available':
            this.addetUser.length > 0,
        }"
          >Hinzufügen</span
        >
      </div>
    </div>
  </div>
</div>

<div *ngIf="!this.isEmpty" class="dialog-add-users-content-container">
  <div
    class="dialog-add-users-scroll-container"
    *ngIf="filteredUsers.length !== 0"
  >
    <div
      class="dialog-add-users-content"
      *ngFor="let userFilter of filteredUsers; let indexFilterUser = index"
    >
      <div
        (click)="pushAddetUser(userFilter, indexFilterUser, $event)"
        *ngIf="content"
      >
        <img [src]="userFilter.avatar" />
        <p>{{ userFilter.name }}</p>
      </div>
    </div>
  </div>
</div>
