/* .cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 344px !important;
  min-width: 344px !important;
}

.cdk-overlay-container {
  position: absolute;
  right: 18px;
  bottom: 164px;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
} */

/* @media (max-width: 600px) {
  .cdk-overlay-container {
    position: absolute;
    right: calc((100vw - 338px) / 2);
    bottom: 164px;
  }

  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }
} */
