@import '@ctrl/ngx-emoji-mart/picker';

.emoji-container {
  position: fixed; 
  right: 50px; 
  bottom: 194px; 
  display: inline-block; 
  background: rgba(241, 241, 241, 0.5);
}

@media (max-width: 1856px) {
  .emoji-container {
    bottom: 176px; 
  }
}

@media (max-width: 1400px) {
  .emoji-container {
    bottom: 194px; 
  }
}

@media (max-width: 1320px) {
  .emoji-container {
    bottom: 176px; 
  }
}


@media (max-width: 400px) {
  .emoji-container {
    right: calc((100vw - 343px) / 2); 
    bottom: 164px; 
  }
}
