@import '@ctrl/ngx-emoji-mart/picker';

.emoji-container {
  position: fixed; 
  right: 70px; 
  bottom: 210px; 
  display: inline-block; 
  background: rgba(241, 241, 241, 0.5);
}

.emoji-container-thread-open {
  position: fixed; 
  right: 29%;
  bottom: 210px; 
  display: inline-block; 
  background: rgba(241, 241, 241, 0.5);
}

.emoji-container-open-from-thread {
  position: fixed; 
  right: 50px; 
  bottom: 210px; 
  display: inline-block; 
  background: rgba(241, 241, 241, 0.5);
}


