<div class="login-container">
    <div class="login-header">
        <img src="./../../assets/img/logo-header.svg" alt="">
        <div class="register-container">
            Neu bei DABubble?
            <a href="#">Konto erstellen?</a>
        </div>
    </div>

    <div class="login-card">
        <form action="submit"></form>
        <div class="login-content">
            <h1>Anmelden</h1>
            <p>Wir empfehlen dir, die E-Mail Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
            <input type="email" placeholder="beispielname@email.com">
            <input type="password" placeholder="Passwort">
            <a href="#">Passwort vergessen?</a>
        </div>

        <div>
            <div class="line"></div>
            ODER
            <div class="line"></div>
        </div>

        <div class="googlelogin-content">
            <button class="google-btn">Anmelden mit Google</button>
        </div>
    </div>

</div>
