<div class="card">
    <form class="form-container">
        <div class="arrow-back-container">
            <mat-icon routerLink='/login' class="arrow-back-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back"></mat-icon>
            <h1>Passwort zurücksetzen</h1>
        </div>
        <p>Btte geben Sie Ihre E-Mail-Adresse ein.</p>
        <div class="input-fields">
            <input class="email-input" type="email" placeholder="beispielname@email.com">
        </div>

        <p>Wir senden Ihnen eine E-Mail, über der Sie Ihr Passwort ändern können.</p>

        <div class="flexend-btn-container">
            <button (click)="resetPassword()" class="primary-btn">E-Mail senden</button>
        </div>

    </form>
</div>

