<div class="dektop-thread-container">
  <div class="dektop-thread-container" (click)="chatService.closeDialog()">
    <div class="dektop-thread-header-container">
      <div
        class="dektop-thread-header-headline"
        (click)="channelService.openEditDialog()"
      >
        <p>Thread</p>
        <p>#</p>
        <p>{{ chatService.dataChannel.name }}</p>
      </div>
      <div>
        <div
          class="dektop-thread-header-icon"
          (click)="
            this.chatService.doNotClose($event); threadService.closeThread()
          "
        >
          <mat-icon>close</mat-icon>
        </div>
      </div>
    </div>

    <div #scrollContainerThread class="dektop-thread-content">
      <div
        (mouseover)="
          chatService.toggleIconContainer(singleMessageIndex, $event)
        "
        (mouseleave)="chatService.closeIconContainer()"
        *ngFor="
          let singleMessage of chatService.dataChannel.messageChannel;
          let singleMessageIndex = index
        "
        (click)="chatService.onMouseLeave()"
        class="dektop-thread-message-single-message"
        [ngClass]="{
          'dektop-thread-message-single-message-hover':
            chatService.activeMessageIndex === singleMessageIndex
        }"
      >
        <div
          class="dektop-thread-edit-message-container"
          *ngIf="chatService.activeMessageIndex === singleMessageIndex"
          [ngClass]="{
          'dektop-thread-edit-message-container-right':
            chatService.ifMessageFromMe(singleMessage.userId),
          'dektop-thread-edit-message-container-left':
            !chatService.ifMessageFromMe(singleMessage.userId),
        }"
        >
          <div
            class="dektop-thread-edit-icon-container"
            (click)="
              chatService.onButtonClick($event);
              chatService.openDialogEmojiReactionMessage(singleMessageIndex)
            "
          >
            <mat-icon>add_reaction</mat-icon>
          </div>
          <div
            class="dektop-thread-edit-icon-container"
            (click)="
              this.chatService.doNotClose($event);
              chatService.onMouseEnter(singleMessageIndex)
            "
            [ngClass]="{
              'dektop-thread-edit-icon-left': !chatService.ifMessageFromMe(
                singleMessage.userId
              )
            }"
          >
            <mat-icon>more_vert</mat-icon>
          </div>
        </div>
        <div
          (mouseenter)="chatService.onMouseEnter(singleMessageIndex)"
          (mouseleave)="chatService.onMouseLeave()"
          class="dektop-thread-edit-button-container"
          *ngIf="chatService.hoveredMessageIndex === singleMessageIndex"
        >
          <span
            (click)="
              chatService.toggleEditMessageContainer(
                singleMessageIndex,
                $event,
                singleMessage.message
              )
            "
            class="dektop-thread-edit-button"
            >Nachricht bearbeiten</span
          >
        </div>

        <div
          (mouseenter)="chatService.onMouseLeave()"
          [ngClass]="{
          'dektop-thread-message-container-from-me': chatService.ifMessageFromMe(
            singleMessage.userId
          ),
          'dektop-thread-message-container-from-others':
            !chatService.ifMessageFromMe(singleMessage.userId),
            'dektop-thread-message-container-clicked':
             chatService.activeMessageIndex === singleMessageIndex,
        }"
        >
          <div
            (click)="
              this.chatService.doNotClose($event);
              directMessageService.openProfil(singleMessage.userId)
            "
            (mouseenter)="chatService.onMouseLeave()"
            class="dektop-thread-message-avatar-container"
          >
            <img src="{{ singleMessage.userAvatar }}" alt="" />
          </div>
          <div class="dektop-thread-message-content">
            <div
              [ngClass]="{
                'dektop-thread-message-name-date-container-me':
                  chatService.ifMessageFromMe(singleMessage.userId),
                'dektop-thread-message-name-date-container-from-others':
                  !chatService.ifMessageFromMe(singleMessage.userId)
              }"
            >
              <span
                (click)="directMessageService.openProfil(singleMessage.userId)"
                class="dektop-thread-message-name"
              >
                {{ singleMessage.userName }}
              </span>
              <div>
                <span class="dektop-thread-message-time">
                  {{ chatService.setTime(singleMessage.date) }} Uhr
                </span>
              </div>
            </div>
            <div
              (mouseover)="
                chatService.toggleIconContainer(singleMessageIndex, $event)
              "
              class="dektop-thread-message-text-container"
              [ngClass]="{
              'dektop-thread-message-from-me': chatService.ifMessageFromMe(
                singleMessage.userId
              ),
              'dektop-thread-message-from-others': !chatService.ifMessageFromMe(
                singleMessage.userId
              ),
              'dektop-thread-message-clicked':
              chatService.activeMessageIndex === singleMessageIndex,
            }"
            >
              <span
                *ngIf="chatService.editMessageInputIndex !== singleMessageIndex"
              >
                {{ singleMessage.message }}
              </span>
              <div *ngIf="chatService.editMessageIndex === singleMessageIndex">
                <textarea
                  [(ngModel)]="chatService.editText"
                  name="newTextarea"
                  (input)="chatService.adjustHeight($event.target)"
                  style="min-height: 50px; width: 100%"
                  class="dektop-thread-message-edit-textarea"
                ></textarea>
                <div class="dektop-thread-input-field-icon-container">
                  <div class="dektop-thread-edit-message-icon-container">
                    <div class="dektop-thread-edit-message-icon">
                      <div class="dektop-thread-input-icon">
                        <mat-icon
                          (click)="
                            chatService.onButtonClick($event);
                            chatService.openDialogEmoji()
                          "
                          >sentiment_satisfied</mat-icon
                        >
                      </div>
                      <div class="dektop-thread-input-icon">
                        <mat-icon
                          (click)="
                            chatService.onButtonClick($event);
                            chatService.openDialogMentionUser()
                          "
                          >alternate_email</mat-icon
                        >
                      </div>
                    </div>
                    <div>
                      <div>
                        <div class="dektop-thread-edit-message-save-container">
                          <p (click)="chatService.closeWithoutSaving()">
                            Abbrechen
                          </p>
                          <p
                            (click)="
                              chatService.editMessageFromChannel(
                                this.parmsId,
                                this.chatService.editText,
                                singleMessageIndex
                              )
                            "
                          >
                            Speichern
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              [ngClass]="{
                'dektop-thread-message-reaction-right-container':
                  chatService.ifMessageFromMe(singleMessage.userId),
                'dektop-thread-message-reaction-left-container':
                  !chatService.ifMessageFromMe(singleMessage.userId)
              }"
            >
              <div
                class="dektop-thread-message-reaction-content"
                *ngFor="
                  let emojie of chatService.dataChannel.messageChannel[
                    singleMessageIndex
                  ].emojiReaction;
                  let emojiIndex = index
                "
                [ngClass]="{
                  'd-none': emojie.user.length === 0
                }"
                (click)="
                  this.emojiService.addAdditionalReactionToMessage(
                    emojie.emoji,
                    singleMessageIndex,
                    emojiIndex
                  )
                "
              >
                {{ emojie.emoji }}
                {{ emojie.user.length }}
              </div>
              <div class="dektop-thread-message-reaction-icon">
                <mat-icon
                  *ngIf="
                    chatService.editMessageInputIndex !== singleMessageIndex
                  "
                  (click)="
                    chatService.onButtonClick($event);
                    chatService.openDialogEmojiReactionMessage(
                      singleMessageIndex
                    )
                  "
                  >add_reaction</mat-icon
                >
              </div>
            </div>
            <div>
              <div>
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dektop-thread-input-container" id="meinTextarea">
      <form class="dektop-thread-input-field-container br-20">
        <textarea
          [(ngModel)]="chatService.text"
          name="textarea"
          (input)="chatService.adjustHeight($event.target)"
          style="min-height: 50px; width: 100%"
          [placeholder]="'Antworten...'"
        ></textarea>

        <div class="dektop-thread-input-field-icon-container">
          <div class="dektop-thread-input-icon-container">
            <div class="dektop-thread-border-right">
              <div class="dektop-thread-input-icon">
                <mat-icon>add</mat-icon>
              </div>
            </div>
            <div class="dektop-thread-input-icon">
              <mat-icon
                (click)="
                  chatService.onButtonClick($event);
                  chatService.openDialogEmoji()
                "
                >sentiment_satisfied</mat-icon
              >
            </div>
            <div class="dektop-thread-input-icon">
              <mat-icon
                (click)="
                  chatService.onButtonClick($event);
                  chatService.openDialogMentionUser()
                "
                >alternate_email</mat-icon
              >
            </div>
          </div>
          <div>
            <div>
              <mat-icon
                (click)="
                  threadService.sendMessageFromThread(
                    this.chatService.dataChannel.id,
                    this.chatService.text
                  )
                "
                class="dektop-thread-send-icon"
                >send</mat-icon
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
