@import url(./fonts.scss);


$background-white: #fff;
$background-black: #fff;
$background-gray: #686868;
$background-lightblue: #eceefe;
$background-blue: #434df2;
$background-purple: #797ef3;


body {
    font-family: 'Nunito';
    background-color: $background-lightblue;
}


h1 {
    font-size: 46px;
}