<section>
    <div class="input-container">
        <input type="search" placeholder="Gehe zu...">
        <mat-icon>search</mat-icon>
    </div>

    <div class="channels-container">
        <div>
            <div class="channels">
                <mat-icon (click)="openChannels()">{{ arrowIconChannels }}</mat-icon>
                <div (click)="openChannels()" class="icon-and-name">
                    <div>
                        <mat-icon>workspaces_outline</mat-icon>
                        <span>Channels</span>
                    </div>
                </div>
                <div class="add-icon" (click)="openDialogAddChannel()">
                    <mat-icon>add</mat-icon>
                </div>
            </div>
            <div  *ngIf="channelListOpen"> 
                <div class="channels" *ngFor="let channel of mainService.allChannels; let i = index">
                    <mat-icon></mat-icon>
                    <div class="icon-and-name">
                        <div class="sub-channel">
                            <mat-icon>tag</mat-icon>
                            <a (click)="mainService.goToCollectionPath(channel, '/chat/')">{{ channel.name }} </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="channels" *ngIf="channelListOpen">
                <mat-icon></mat-icon>
                <div class="icon-and-name">
                    <div class="add-channel" (click)="openDialogAddChannel()">
                        <mat-icon>add_circle_outline</mat-icon>
                        <span>Channel hinzufügen</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="user-container">
        <div class="titel">
            <mat-icon (click)="openUserList()">{{ arrowIconUser }}</mat-icon>
            <div (click)="openUserList()" class="icon-and-name">
                <mat-icon>account_circle_outline</mat-icon>
                <span>Direktnachrichten</span>
            </div>
        </div>

        <div class="user-list" *ngIf="userListOpen">
            <div *ngFor="let user of mainService.allUsers; let i = index" class="user">
                <img src="{{ user.avatar }}" alt="">
                <span>{{ user.name }}</span>
            </div>
        </div>
    </div>
    <div class="new-msg-icon">
        <mat-icon>edit_square</mat-icon>
    </div>
</section>